* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.l-footer {
  margin-top: 100px;
  height: 120px;
  text-align: center;
}

.l-footer .l-sns_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c54040;
}

.l-footer .l-sns_group li {
  margin: 10px 20px;
}

.l-footer .l-copyright {
  font-size: 15px;
  margin: 10px 0 0 10px;
}

@media (min-width: 769px) {
  .l-footer .l-copyright {
    font-size: 20px;
  }
}

.l-header {
  height: 50px;
}

@media (min-width: 769px) {
  .l-header {
    margin-top: 30px;
  }
}

.l-header svg {
  margin-top: 15px;
  width: 200px;
  height: 40px;
}

@media (min-width: 769px) {
  .l-header svg {
    margin-top: 30px;
    width: 300px;
    height: 50px;
  }
}

.l-header .l-mobile_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 5px;
  z-index: 1000;
}

.l-header .l-mobile_header .l-header_title {
  margin: 0 auto;
}

@media (min-width: 769px) {
  .l-header .l-mobile_header .l-hamburger_menu {
    display: none;
  }
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle {
  position: absolute;
  top: 8px;
  right: 0;
  width: 3rem;
  height: 3rem;
  z-index: 2;
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle i {
  display: block;
  width: 50%;
  height: 2px;
  left: 13px;
  background-color: #c54040;
  position: absolute;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle i:nth-child(1) {
  top: 12px;
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle i:nth-child(2) {
  top: 22px;
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle i:nth-child(3) {
  top: 32px;
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle.show i:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
  background-color: #fff;
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle.show i:nth-child(2) {
  opacity: 0;
}

.l-header .l-mobile_header .l-hamburger_menu .nav_toggle.show i:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
  background-color: #fff;
}

.l-header .l-mobile_header .l-hamburger_menu .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
  background-color: #c54040;
}

@media (min-width: 769px) {
  .l-header .l-mobile_header .l-hamburger_menu .nav {
    visibility: visible;
  }
}

.l-header .l-mobile_header .l-hamburger_menu .nav .l-sns_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.l-header .l-mobile_header .l-hamburger_menu .nav .l-sns_group li {
  margin-right: 60px;
}

.l-header .l-mobile_header .l-hamburger_menu .nav .nav_menu_content {
  margin: 70px 0 0 60px;
}

.l-header .l-mobile_header .l-hamburger_menu .nav .nav_menu_content .nav_menu_li {
  margin: 40px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

.l-header .l-mobile_header .l-hamburger_menu .nav.show {
  opacity: 2;
  visibility: visible;
}

.l-header .l-pc_header {
  display: none;
}

@media (min-width: 769px) {
  .l-header .l-pc_header {
    display: block;
    margin-top: 120px;
  }
  .l-header .l-pc_header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header .l-pc_header ul .l-sns_group {
    margin-right: 20px;
    color: #c54040;
  }
  .l-header .l-pc_header ul .l-sns_group li {
    padding: 0 15px;
  }
}

main .main_visual {
  background-image: url("../image/test2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 120vw;
  margin-top: 45px;
  z-index: -1;
}

@media (min-width: 769px) {
  main .main_visual {
    height: 60vw;
  }
}

.main_visual {
  position: relative;
}

.main_visual .c-scroll_nav {
  position: absolute;
  bottom: -20px;
  left: -8px;
  background-color: #fff;
  padding: 20px 10px 100px;
}

@media (min-width: 769px) {
  .main_visual .c-scroll_nav {
    padding: 20px 20px 100px;
  }
}

.main_visual .c-scroll_nav p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 13px;
  font-weight: 600;
  color: #c54040;
}

@media (min-width: 769px) {
  .main_visual .c-scroll_nav p {
    font-size: 18px;
  }
}

.main_visual .c-scroll_nav p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 80px;
  background: #c54040;
  -webkit-animation: scroll 2.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: scroll 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.c-more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 20px 0 0;
}

.c-more_btn .button {
  position: relative;
  display: inline-block;
  padding: .5em 4em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.c-more_btn .button:hover {
  color: #fff;
  border: 2px solid #c54040;
  -webkit-transition: .1s;
  transition: .1s;
}

.c-more_btn .button::before {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #c54040;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.c-more_btn .button:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-News .c-more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 20px 0 0;
}

.c-news_heading {
  text-align: center;
  margin-bottom: 100px;
  font-weight: initial;
}

.c-news_bg {
  background-image: url("../image/biored.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  padding: 40px 0;
}

@media (min-width: 769px) {
  .c-news_bg {
    padding: 80px 0;
    font-size: 30px;
  }
}

@media (min-width: 961px) {
  .c-news_bg {
    padding: 120px 0;
    font-size: 30px;
  }
}

.c-news_heading:after {
  content: "";
  position: absolute;
  left: 0;
  top: 180px;
  height: 1px;
  left: 40px;
  width: 85%;
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) {
  .c-news_heading:after {
    top: 265px;
    width: 87%;
  }
}

@media (min-width: 961px) {
  .c-news_heading:after {
    top: 345px;
  }
}

.c-biography_heading {
  text-align: center;
  margin-bottom: 80px;
  font-weight: initial;
}

.c-biography_bg {
  background-image: url("../image/biored.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  padding: 30px 0;
}

@media (min-width: 769px) {
  .c-biography_bg {
    padding: 80px 0;
    font-size: 30px;
  }
}

@media (min-width: 961px) {
  .c-biography_bg {
    padding: 120px 0;
    font-size: 30px;
  }
}

ul .news_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

ul .news_detail .c-news_day {
  margin-right: 15px;
  color: #c54040;
}

ul .news_content .c-news_title {
  margin: 20px 0 50px 0;
  padding: 0 0 10px 0;
  position: relative;
  z-index: -1;
}

ul .news_content .c-news_title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 90%;
  background: rgba(0, 0, 0, 0.1);
}

.c-news_text {
  padding: 0 30px;
  line-height: 30px;
}

.c-movie_works_heading {
  text-align: center;
  margin-top: 100px;
  font-weight: initial;
}

@media (min-width: 769px) {
  .c-movie_works_heading {
    margin-top: 60px;
  }
}

.c-movie_works_thumbnail {
  width: 100%;
  margin-top: 70px;
}

@media (min-width: 769px) {
  .c-movie_works_thumbnail {
    height: 300px;
    width: 50%;
  }
}

.c-movie_works_title {
  margin: 3vw 15vw 0 20px;
  font-size: 5vw;
  font-family: ryo-display-plusn, serif;
}

@media (min-width: 769px) {
  .c-movie_works_title {
    font-size: 3.5vw;
    margin: 0;
  }
}

.c-movie_works_subtitle {
  font-family: ro-nikkatsu-sei-kai-std, serif;
  margin: 15vw 10px 0 0;
  position: relative;
  font-size: 3.5vw;
  opacity: .5;
  letter-spacing: 10px;
  z-index: -1;
}

@media (min-width: 769px) {
  .c-movie_works_subtitle {
    font-size: 2vw;
    margin: 50px 30px 0 0;
  }
}

.c-movie_works_subtitle span {
  display: block;
  margin: 10vw 2vw 0 0;
}

@media (min-width: 769px) {
  .c-movie_works_subtitle span {
    margin: 5vw 1vw 0 0;
  }
}

.c-discography {
  margin-top: 100px;
  text-align: center;
}

.c-pagination {
  margin-top: 100px;
}

.c-pagination .c-pagination_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.biography_main_style .c-profile_bg {
  background-image: url("../../../image/biored.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  padding: 40px 0;
}

@media (min-width: 769px) {
  .biography_main_style .c-profile_bg {
    padding: 50px 0;
    font-size: 30px;
  }
}

@media (min-width: 961px) {
  .biography_main_style .c-profile_bg {
    padding: 100px 0;
  }
}

.biography_main_style .c-biography_day {
  margin-top: 50px;
}

.biography_main_style .c-biography_text {
  margin-top: 15px;
  line-height: 30px;
}

.c-fadein {
  opacity: 0.1;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.c-fadein.scrollin {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.c-bio_bg {
  margin: 0 auto;
  background-image: url("../image/test2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .5;
  width: 90%;
  height: 50vw;
}

.p-membar_profile .p-member_infomation .c-member_picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 50vw;
  position: absolute;
}

.p-membar_profile .p-member_infomation .c-kaisei_picture {
  background-image: url("../image/test2.jpg");
  right: 0;
}

@media (min-width: 769px) {
  .p-membar_profile .p-member_infomation .c-kaisei_picture {
    position: absolute;
    right: 0;
  }
}

.p-membar_profile .p-member_infomation .c-member_responsible {
  font-size: 2.5vw;
}

.p-membar_profile .p-member_infomation .c-member_name {
  font-size: 3.5vw;
  margin: 5px 0;
}

.p-membar_profile .p-member_infomation .p-detail_info {
  font-size: 2.5vw;
}

.p-membar_profile .p-member_infomation .c-sengan_picture {
  background-image: url("../image/test2.jpg");
  left: 0;
}

.p-membar_profile .p-member_infomation .c-isema_picture {
  background-image: url("../image/test2.jpg");
  right: 0;
}

.p-membar_profile .p-member_infomation .c-kaito_picture {
  background-image: url("../image/test2.jpg");
  left: 0;
}

.c-fadein_left {
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

@-webkit-keyframes scrollin_left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes scrollin_left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.scrollin_left {
  -webkit-animation: scrollin_left 0.2s cubic-bezier(1, 1, 0.55, 0.95) 0.3s forwards;
          animation: scrollin_left 0.2s cubic-bezier(1, 1, 0.55, 0.95) 0.3s forwards;
}

.c-fadein_right {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

@-webkit-keyframes scrollin_right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes scrollin_right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.scrollin_right {
  -webkit-animation: scrollin_right 0.2s cubic-bezier(1, 1, 0.55, 0.95) 0.3s forwards;
          animation: scrollin_right 0.2s cubic-bezier(1, 1, 0.55, 0.95) 0.3s forwards;
}

.c-contact_heading {
  text-align: center;
  font-weight: inherit;
  margin-top: 100px;
}

@media (min-width: 769px) {
  .c-contact_heading {
    margin-top: 50px;
  }
}

.inquiry {
  margin: 0 auto;
  padding: 10px;
}

.inquiry th, .inquiry td {
  display: block;
  text-align: left;
}

@media (min-width: 769px) {
  .inquiry th, .inquiry td {
    display: inline;
  }
}

.inquiry td {
  margin-left: 20px;
}

@media (min-width: 769px) {
  .inquiry td .content {
    width: 50vw;
  }
}

.inquiry th {
  margin: 80px 0 30px 0;
}

@media (min-width: 769px) {
  .inquiry th {
    margin-left: 50px;
  }
}

.inquiry th .haveto {
  font-size: 12px;
  background-color: #ff6b6b;
  color: #fff;
  padding: 6px 20px;
  margin-right: 10px;
}

@media (min-width: 769px) {
  .inquiry th .haveto {
    margin-left: 50px;
  }
}

.inquiry .textsp, .inquiry .mailsp {
  border: none;
  width: 80vw;
  height: 5vw;
}

@media (min-width: 769px) {
  .inquiry .textsp, .inquiry .mailsp {
    width: 55vw;
  }
}

@media (min-width: 961px) {
  .inquiry .textsp, .inquiry .mailsp {
    width: 65vw;
  }
}

.inquiry tr {
  position: relative;
  display: block;
}

@media (min-width: 769px) {
  .inquiry tr {
    margin-top: 60px;
  }
}

.inquiry tr:first-child th {
  margin-top: 50px;
}

.inquiry tr:nth-child(3) {
  margin: 0;
}

@media (min-width: 769px) {
  .inquiry tr:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.inquiry tr:nth-child(3) td {
  margin-top: 20px;
}

@media (min-width: 769px) {
  .inquiry tr:nth-child(3) td {
    margin-top: 56px;
  }
}

.inquiry tr:nth-child(3):after {
  bottom: -28px;
}

.inquiry tr:after {
  content: "";
  bottom: -40px;
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 769px) {
  .inquiry tr:after {
    left: 50px;
    bottom: -30px;
    width: 90%;
  }
}

.inquiry tr:last-child {
  margin-top: 80px;
}

.inquiry tr:last-child:after {
  content: none;
}

.last {
  font-size: 15px;
  margin-top: 50px;
  padding: 0 20px;
}

.last .check {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  display: block;
  padding: 1em 0;
  width: 50%;
  margin: 70px auto 0px auto;
  background-color: #c54040;
}

.last .formbtn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  display: inline-block;
  padding: 1em 0;
  width: 50%;
  margin: 50px auto;
  background-color: #c54040;
}

.last .back {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  display: inline-block;
  padding: 1em 0;
  width: 20%;
  margin: 50px 20px 0  30px;
  background-color: #a7a7a7;
}

.c-pc_pagination {
  display: none;
}

@media (min-width: 769px) {
  .c-pc_pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 130px;
  }
  .c-pc_pagination .wp-pagenavi {
    clear: both;
  }
  .c-pc_pagination .wp-pagenavi .pages {
    display: none;
  }
  .c-pc_pagination .wp-pagenavi a, .c-pc_pagination .wp-pagenavi span {
    text-decoration: none;
    border: 0px solid #FFFFFF;
    padding: 10px;
    font-size: 2vw;
    margin: 10px;
  }
  .c-pc_pagination .wp-pagenavi a:hover, .c-pc_pagination .wp-pagenavi span:hover {
    background: #c54040;
    border-radius: 2px;
    color: #fff;
  }
  .c-pc_pagination .wp-pagenavi .current {
    color: #c54040;
  }
}

.c-mobile_pagination .navigation {
  margin-top: 130px;
}

@media (min-width: 769px) {
  .c-mobile_pagination .navigation {
    display: none;
  }
}

.c-mobile_pagination .navigation .screen-reader-text {
  display: none;
}

.c-mobile_pagination .navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-mobile_pagination .navigation .nav-links .nav-previous :hover, .c-mobile_pagination .navigation .nav-links .nav-next :hover {
  color: #fff;
  background-color: #c54040;
}

.c-mobile_pagination .navigation .nav-links .nav-previous a, .c-mobile_pagination .navigation .nav-links .nav-next a {
  padding: 15px;
  border-radius: 2px;
}

.p-News {
  margin-top: 100px;
  position: relative;
  z-index: 1;
  font-family: "Sawarabi Gothic";
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-movie_works {
  height: auto;
}

.p-movie_works .p-movie_works_content {
  margin-top: 50px;
}

@media (min-width: 769px) {
  .p-movie_works .p-movie_works_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.p-movie_works .p-movie_work_textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  height: 70vw;
}

@media (min-width: 769px) {
  .p-movie_works .p-movie_work_textbox {
    height: 50vw;
  }
}

.p-movie_works .p-movie_work_textbox .vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

.p-movie_works .p-movie_work_textbox .p-movie_works_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-family: ryo-display-plusn, serif;
}

.p-movie_works .p-movie_work_textbox .p-left_information {
  margin: 18vw 0 0 15vw;
  font-size: 3vw;
}

@media (min-width: 769px) {
  .p-movie_works .p-movie_work_textbox .p-left_information {
    margin: 100px 50px 0 0;
    font-size: 2vw;
  }
}

.p-movie_works .p-movie_work_textbox .p-left_information li {
  margin: 0 10px;
}

@media (min-width: 769px) {
  .p-movie_works .p-movie_work_textbox .p-left_information li {
    margin: 0 5px;
  }
}

.p-biography {
  margin-top: 100px;
}

.p-biography .p-band_profile {
  width: 90%;
  margin: 50px auto;
}

@media (min-width: 769px) {
  .p-biography .p-band_profile {
    margin: 70px auto;
  }
}

.p-biography .p-membar_profile {
  margin-top: 200px;
}

.p-biography .p-membar_profile .p-member_infomation {
  position: relative;
  height: 80vw;
  overflow: hidden;
  margin-top: 100px;
}

.p-biography .p-membar_profile .p-member_infomation .p-profile {
  position: absolute;
  top: 25vw;
  color: #fff;
  background-color: rgba(197, 64, 64, 0.6);
  height: 30vw;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-biography .p-membar_profile .p-member_infomation .p-profile .p-detail_info li {
  margin: 2px 0;
}

.p-biography .p-membar_profile .p-member_infomation .p-left_profile {
  padding-left: 7vw;
}

.p-biography .p-membar_profile .p-member_infomation .p-right_profile {
  right: 0;
  padding-left: 23vw;
}
/*# sourceMappingURL=style.css.map */