.main_visual{
    position:relative;
    & .c-scroll_nav{
        position:absolute;
        bottom:-20px;
        left:-8px;
        background-color: #fff;
        padding:20px 10px 100px;
        p{
            writing-mode: vertical-rl;
            font-size:13px;
            font-weight: 600;
            color:$accent_color;
        }
        p::after{
            content:"";
            position: absolute;
            bottom:0;
            left: 50%;
            width: 2px;
            height:80px;
            background: $accent_color;
            animation:scroll 2.5s cubic-bezier(1, 0, 0, 1) infinite;
        }
        @keyframes scroll{
            0%{
                transform: scale(1, 0);
                transform-origin: 0 0;
            }
            50% {
                transform: scale(1, 1);
                transform-origin: 0 0;
            }
            50.1%{
                transform: scale(1 ,1);
                transform-origin: 0 100%;
            }
            100%{
                transform: scale(1, 0);
                transform-origin:0 100%;
            }
        }
    }
}


.c-more_btn{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin:50px 20px 0 0;
    & .button {
        position: relative;
        display: inline-block;
        padding: .5em 4em;
        border: 2px solid #333;
        color: #333;
        text-align: center;
        transition: .5s;
    }
    & .button:hover {
        color: #fff;
        border: 2px solid $accent_color;
        transition: .1s;
    }

    & .button::before {
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: '';
        background: $accent_color;
        transform-origin: right;
        transform: scale(0, 1);
        transition: transform .1s;
    }
    & .button:hover::before {
        transform-origin: left top;
        transform: scale(1, 1);
    }
}

.p-News{
    & .c-more_btn{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        margin:150px 20px 0 0;
    }
}

.c-news_heading{
    text-align: center;
    margin-bottom:100px;
    font-family: ten-mincho-text, serif;
    font-weight: initial;
}
.c-news_bg{
    background-image:url("../image/biored.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
    text-align: center;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    padding:40px 0;
    @include breakpoint (pc){
        padding:80px 0;
        font-size:30px;
    }
    @include breakpoint (wide){
        padding:120px 0;
        font-size:30px;
    }
}
.c-news_heading:after{
    content:"";
    position:absolute;
    left:0;
    top:180px;
    height:1px;
    left:40px;
    width:85%;
    background: rgba(0, 0, 0, .1);
    @include breakpoint (pc){
        top:265px;
        width:87%;
    }
    @include breakpoint (wide){
        top:345px;
    }
}

ul{
    font-family:$movie_font;
    & .news_detail{
        display:flex;
        margin-top:50px;
        & .c-news_day{
            margin-right:15px;
            color:$accent_color;
        }
    }
    & .news_content{
        & .c-news_title{
            margin:20px 0 50px 0;
            padding:0 0 10px 0;
            position:relative;
            z-index:-1;
        }
        & .c-news_title:after{
            content:"";
            position:absolute;
            left:0;
            bottom:-20px;
            height:1px;
            width:90%;
            background: rgba(0, 0, 0, .1);
        }
    }
}
.c-news_text{
    padding:0 30px;
    line-height: 30px;
}

.c-movie_works_heading{
    text-align: center;
    margin-top:100px;
    font-family: ten-mincho-text, serif;
    font-weight: initial;
}

.c-movie_works_thumbnail{
    @include breakpoint (pc){
        height:300px;
        width:50%;
    }
 width:100%;
 margin-top:70px;
}

.c-movie_works_title{
    @include breakpoint(pc){
        font-size:3.5vw;
        margin:0;
    }
    margin:3vw 15vw 0 20px;
    font-size: 5vw;
}

.c-movie_works_subtitle{
    @include breakpoint(pc){
        font-size:2vw;
        margin:50px 30px 0 0;
    }
    margin:15vw 10px 0 0;
    position:relative;
    font-size: 3.5vw;
    opacity:.5;
    letter-spacing:10px;
    z-index:-1;
        & span{
            display:block;
            margin:10vw 2vw 0 0;
            @include breakpoint(pc){
                margin:5vw 1vw 0 0;
            }

        }
}

.c-pagination{
    margin-top:100px;
    & .c-pagination_btn{
        display:flex;
        justify-content: space-around;
    }
}

.biography_main_style{
    & .c-profile_bg{
        background-image:url("../../../image/biored.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        object-fit: cover;
        text-align: center;
        background-color:rgba(255,255,255,0.8);
        background-blend-mode:lighten;
        padding:40px 0;
        @include breakpoint (pc){
            padding:50px 0;
            font-size:30px;
        }
        @include breakpoint (wide){
            padding:100px 0;
        }
    }
    & .c-biography_day{
        margin-top:50px;
    }
    & .c-biography_text{
        margin-top:15px;
        line-height: 30px;
    }
}


.c-fadein{
    opacity:0.1;
    transform:translateY(50px);
    transition:all 500ms;
}

.c-fadein.scrollin{
    opacity:1;
    transform:translateY(0);
}

