.l-footer{
    margin-top:100px;
    height:100px;
    text-align: center;
    & .l-sns_group{
        display:flex;
        justify-content: center;
        & li{
            margin:10px 20px;
        }
    }
    & .l-copyright{
        font-size:15px;
        margin:10px 0 0 10px;
    }
}
