main{
    & .main_visual{
        background-image:url("../image/YSS_News_image.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        height:385px;
        width:100%;
        margin-top:45px;
    }

}