
.p-News{
    margin-top:100px;
}

.p-movie_works{
     height:700px;
     margin-bottom:50vw;
    & .p-movie_work_textbox{
        display:flex;
        flex-direction:row-reverse;
        justify-content:space-between;
        margin-top:50px;
        & .vertical{
        writing-mode: vertical-rl;
        text-orientation: upright;
        }
        & .p-movie_works_information{
            display:flex;
            flex-direction:row-reverse;
        }
        & .p-left_information{
            margin:18vw 0 0 15vw;
            font-size: 3vw;
            & li{
                margin:0 10px;
            }
        }
    }
}

