
.p-News {
    margin-top:100px;
    position:relative;
    z-index:1;
    // font-family: "Nikukyu"; font-family: "Hannari";
    font-family: "Sawarabi Gothic";
}
.flex{
    display:flex;
    & li:nth-child(even){
        flex-direction: row-reverse;
    }
}
.p-movie_works{
     height:auto;
    //  margin-bottom:50vw;
    & .p-movie_works_content{
        margin-top:50px;
        @include breakpoint (pc){
            display:flex;
            justify-content: space-around;
        }
    }
    & .p-movie_work_textbox{
        @include breakpoint (pc){
            height:50vw;
        }
        display:flex;
        flex-direction:row-reverse;
        justify-content:space-between;
        margin-top:50px;
        height:70vw;
        & .vertical{
        writing-mode: vertical-rl;
        text-orientation: upright;
        }
        & .p-movie_works_information{
            display:flex;
            flex-direction:row-reverse;
            font-family: ryo-display-plusn, serif;
        }
        & .p-left_information{
            @include breakpoint (pc){
                margin:100px 50px 0 0;
                font-size:2vw;
            }
            margin:18vw 0 0 15vw;
            font-size: 3vw;
            & li{
                @include breakpoint (pc){
                    margin:0 5px;
                }
                margin:0 10px;
            }
        }
    }
}


.p-biography{
    margin-top:100px;
    & .p-band_profile{
      width:90%;
      margin:50px auto;
      @include breakpoint (pc){
        margin:70px auto;
    }
    }
    & .p-membar_profile{
        margin-top:200px;

        & .p-member_infomation{
            position:relative;
            height:80vw;
            overflow: hidden;
            margin-top:100px;
            @include breakpoint (pc){

            }

            & .p-profile{
                position: absolute;
                top:25vw;
                color:#fff;
                background-color:rgba(197, 64, 64,.6);
                height:30vw;
                width:50vw;
                display:flex;
                flex-direction: column;
                justify-content: center;
                & .p-detail_info{
                    li{
                        margin:2px 0;
                    }
                }
            }

            & .p-left_profile{
                padding-left:7vw;
            }

            & .p-right_profile{
                right:0;
                padding-left:23vw;
        
            }
        }
    }
}




